---
---

$font-stack: "Raleway", "Helvetica Nueue", sans-serif

$grey: #aaa

body
    margin: 0
    padding: 0
    font-family: $font-stack

nav
    padding: 0.75em
    border-bottom: 1px solid $grey
    margin-bottom: 1em

nav > h1
    font-size: 1.2em
    margin: 0

.page-content
    width: 100vw
    max-width: 1024px
    min-height: 1em

#map
    width: calc(100% - 4em)
    max-width: 960px

footer
    text-align: center
    font-size: 0.8em
    color: #aaa

