---
---

/*
 * GLOBAL VARIABLES
 */
$font-stack: "Roboto Mono", "Courier", monospace
$font-weight: 300

$grey: #999
$darkgrey: #555
$lightgrey: #bbb

$blue: #6a80ff
$red: #ff6660

$desktop: "(min-width: 600px)"
$mobile: "(max-width: 600px)"

/*
 * BODY AND NAV BAR
 */

*
    box-sizing: border-box

body
    margin: 0
    padding: 0
    font-family: $font-stack
    font-weight: $font-weight
    font-size: 100%
    line-height: 1.4em

nav
    padding: 0.7em 1em 0.8em
    border-bottom: 1px solid $grey
    margin-bottom: 1em
    width: 100vw
    top: 0
    position: fixed
    background-color: white
    z-index: 100

    h1
        display: inline-block
        font-size: 1.2em
        margin: 0

    ul
        list-style: none
        display: inline

    li
        display: inline
        font-size: 90%

    li:not(:first-child):before
        content: "|"
        color: $grey
    a
        transition: color 200ms
        text-decoration: none
        color: $darkgrey

    a.inactive
        color: $grey
    a.inactive:hover
        color: $darkgrey

img.flag-icon
    height: 1.2em
    position: relative
    top: 0.2em
    margin-right: 0.5em

/*
 * GENERICS
 */
main
    width: 100vw
    max-width: 960px
    min-height: 90vh
    margin: 4em auto 0 auto

.graphic
    width: calc(100% - 2em)
    max-width: 880px
    margin: 0.5em auto 0.5em auto
    transition: opacity 500ms
    opacity: 0

.tooltip
    transition: opacity 150ms

#map-tooltip
    min-width: 140px
    background-color: rgba(255, 255, 255, 0.95)
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25)
    padding: 0.7em
    position: absolute
    top: 300px
    left: 120px
    font-size: 0.7em
    line-height: 1.4em
    color: $darkgrey
    border-radius: 2px
    opacity: 0
    pointer-events: none
    transition-delay: 100ms
    z-index: 50

    #mt-name
        font-size: 1.5em
        display: inline-block
        margin-bottom: 0.5em
        color: black

    table
        width: 100%
        font-size: 1.15em
        color: black


$bar-height: 7rem
main > h1
    margin: 3em 0.5em 0.8em
    line-height: 1em

.bar-spacer
    height: $bar-height

.probability-bar
    width: 100vw
    position: absolute
    left: 0
    // fix whitespace problem 
    font-size: 0 
    height: $bar-height

    .dem, .gop
        display: inline-block
        color: white
        font-size: 1.2rem
        height: 100%
        width: 50%
        transition: width 400ms
        padding: 1em 1.5em

    .name
        text-transform: uppercase 
        display: block
        margin-bottom: 0.5em

    #prob-dem, #prob-gop, #prob-dem-house, #prob-gop-house, #prob-dem-pres, #prob-gop-pres
        font-weight: bold
        font-size: 3rem

    .dem
        background-color: $blue
        border-right: 2px solid white

    .gop
        background-color: $red
        text-align: right


time
    position: relative
    display: block
    text-align: center
    font-size: 0.6rem
    color: $grey
    font-weight: normal

summary#overall
    text-align: center


.graphic-controls
    margin: 1em 1em 0 1em
    text-align: center

button
    outline: none
    border: 1px solid $grey
    color: #222
    border-radius: 4px
    padding: 1em
    background-color: white
    transition: all 100ms
    font-family: $font-stack
    font-weight: $font-weight

    &:hover
        background-color: #fafafa
        border-color: $darkgrey
        color: black

input[type~="text"]
    font-family: $font-stack
    font-weight: $font-weight
    font-size: 0.85em
    width: 20em
    padding: 4px
    border-width: 0 0 2px 0
    border-style: solid
    border-color: $lightgrey
    margin-left: 1em

input[type~="text"]:focus
    outline: none
    border-color: $grey


footer
    padding: 2em
    text-align: center
    font-size: 0.8em
    color: $grey
    background-color: $darkgrey

section
    margin-top: 1.5em
    padding: 1.0em
    //position: relative
main > section + section:before
    content: ""
    background-color: #bbb
    top: -2em
    left: 2%
    width: 96%
    height: 1px
    display: block
    position: relative

summary
    margin: 0.5em 1em 0.5em
    text-align: justify

h2
    font-size: 1.25em
    margin: 0 0.5em 0.8em 0.5em

table#scenario, table#districts
    width: 95%
    margin: 0.75em auto
    border-collapse: collapse

    td,th
        text-align: left
    td
        border-top: 1px dotted #ddd
        font-size: 85%
        padding: 0.4em 0.5em 0.4em 0
    tr.div > td
        border-top: 1px solid $grey

    td:last-child
        font-weight: normal

#districts th:not(:first-of-type)
    text-align: center
#districts td:nth-of-type(2), #districts td:nth-of-type(3)
    text-align: center
    width: 15%
#districts td:nth-of-type(4)    
    text-align: center
    width: 30%

#hist-tooltip
    position: relative
    float: right
    top: 2.5em
    margin-top: -3em
    color: $darkgrey

    #ht-electors, #ht-seats
        font-weight: bold
    #ht-percent
        font-size: 0.9em


svg .axis
    font-size: 0.75em

svg .axis path, svg .axis line
    fill: none
    stroke: #444
    shape-rendering: crispEdges

svg .label
    font-weight: bold
    text-anchor: end
svg .x.label
    transform: translateY(0.71em) 
svg .y.label
    transform: rotate(-90deg) translateY(0.71em) 
    fill: $darkgrey
svg .y .tick
    left: -6px
svg .y .tick line
    opacity: 0.3
    stroke-dasharray: 1,2
svg .y .tick:first-of-type line
    opacity: 1.0
svg .y.axis path
    stroke: none
svg .y .tick text
    fill: $grey
svg .hist-label
    font-size: 0.8em
    transform: rotate(-90deg) translate(0.3em, -0.3em)
    text-transform: uppercase
    font-weight: 400
    fill: white
svg .end-label
    font-size: 0.9em
    font-weight: bold

path.borders
    stroke: #fff
    

a
    color: inherit

h1
    margin-left: 0.5em


.dem
    color:  $blue
    fill:  $blue
.gop
    color: $red
    fill: $red
.state
    transition: opacity 150ms
.spacer
    display: inline-block
    width: 2em



@media #{$mobile} 
    body, button
        font-size: 95%

    h1
        font-size: 1.5em

    main > h1
        font-size: 1.6em
        margin: 4em 0.5em 1em

    .dem, .gop
        padding: 0.8em !important

    #prob-dem, #prob-gop, #prob-dem-house, #prob-gop-house, #prob-dem-pres, #prob-gop-pres
        font-size: 2rem !important

    summary
        margin: 0 0.5em 1em 0.5em

        h1
            font-size: 1.5rem !important

    .graphic
        width: 100%
        max-width: 100vw

    path.borders
        stroke: rgba(255, 255, 255, 0.6)

    svg .y.label
        transform: translate(3.5em, 0.15em) 
    svg .hist-label
        display: none
